*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009699 0px, #009688 15vh , #dddbd1 15vh , #d2dbdc 100%);
    font-family: 'Lato', sans-serif;
}

.container{
    position: absolute;
    top:5%;
    left:10%;
    right:10%;
    width: 80%;
    height: 95%;
    min-width:950px ;
    background-color: lightgray;
}

.left{
    width: 30%;
    height: 100%;
}

.right{
    width: 70%;
    height: 100%;
}

.header-sinistro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-utente{
    padding: 10px;
}

.modificato{
    color:black;
    font-weight: 600;
}

.loghi i{
    padding:10px;
    font-size: 20px;
    color: grey;
}

img{
    border-radius:50%;
    height: 40px;
    width: 40px;
}