*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    border-radius:50%;
    height: 52px;
    width: 52px;
}

a{
    color:#352e23;
}

body{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009699 0px, #009688 15vh , #dddbd1 15vh , #d2dbdc 100%);
    font-family: 'Lato', sans-serif;
}

.container{
    position: absolute;
    top:5%;
    left:10%;
    right:10%;
    width: 80%;
    height: 90%;
    min-width:950px ;
    background-color: #eaeaea;
}

/* divisione delle due parti */

.left{
    width: 30%;
    height: 100%;
    float: left;
}

.right{
    width: 70%;
    height: 100%;
    float:left;
}

/* 1 pezzetto sinistro */

.header-sinistro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border:1px solid lightgrey;
}

.logo-utente{
    padding: 10px;
    
}

.modificato{
    display: flex;
    flex-grow: 1;
    color:black;
    font-weight: 600;
}

.loghi i{
    padding:10px;
    font-size: 20px;
    color: grey;
}



/* 2 pezzetto sinistro */

.disclaimer-sinistro{
    display: flex;
    padding: 25px;
    height: 100px;
    border-right:1px solid lightgrey;
    background-color: #8ad3f1;
}


.logo-bell{
    color: lightblue;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

.logo-bell i{
    padding:15px;
}

.message-bell{
    padding-left: 5px;
}

.message-bell:first-child{
    color: black;
    font-weight: bold;
}

/* 3 pezzetto sinistro */

.searchbar-sinistro{
    display: flex;
    align-items: center;
    padding: 5px;
    height:70px;
    border:1px solid lightgrey;
}

.searchbar-sinistro i{
    font-size: 20px;
    color: lightgrey;
    padding: 6px;
    background-color: white;
}


.searchbar-sinistro input{
    width: 90%;
    padding: 8px 14px;
    margin: 8px 0;
    outline: 0;
    text-decoration: none;
    border: none;
}

/* 4 pezzettino sinistro */

.contatti{
    width: 100%;
    height:calc(100% - 90px - 100px - 70px);
    background: #fff;
    overflow-y: scroll;
    border:1px solid lightgrey;
}

.contatti .contatto-primo ul li{
    padding:25px;
}

.contatti .contatto-primo ul li span{
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
}


/* 1 pezzettino destro */
.header-destro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom:1px solid lightgrey;
}


.info-utente{
    display: column;
    flex-grow: 1
    ;
}

.info-utente p:first-child{
    color: black;
    font-weight: bold;
}

.info-utente p:last-child{
    color:grey;
}

/* 2 pezzettino destro */
.corpo-destro{
    height:calc(100% - 90px - 100px);
    width: 100%;
    background-image:url(../img/mine.jpg);
    overflow-y: scroll;
    position:relative;
}

.message-sent{
    background: #D5F9BA;
    float: right;
    clear:both
}

.format{
    position: relative;
    margin:5px 15px;
    padding:15px 15px 20px 15px;
    border-radius: 10px;
}

.message-received{
    background: white;
    float: left;
    clear:both;
}

/* 3 pezzettino destro */


.chatbox-destro{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox-destro i{
    font-size: 25px;
    color:grey;
}


.chatbox-destro input{
    width: 90%;
    outline: 0;
    padding: 18px 20px;
    margin: 0 8px;
}
