*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    border-radius:50%;
    height: 40px;
    width: 40px;
}

a{
    color:#352e23;
}

body{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009699 0px, #009688 15vh , #dddbd1 15vh , #d2dbdc 100%);
    font-family: 'Lato', sans-serif;
}

.container{
    position: absolute;
    top:5%;
    left:10%;
    right:10%;
    width: 80%;
    height: 90%;
    min-width:950px ;
    background-color: #eaeaea;
}

/* divisione delle due parti */

.left{
    width: 30%;
    height: 100%;
}

.right{
    width: 70%;
    height: 100%;
}

/* 1 pezzetto sinistro */

.header-sinistro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.logo-utente{
    padding: 10px;
}

.modificato{
    color:black;
    font-weight: 600;
}

.loghi i{
    padding:10px;
    font-size: 20px;
    color: grey;
}



/* 2 pezzetto sinistro */

.disclaimer-sinistro{
    display: flex;
    padding: 25px;
    height: 12%;
}

.disclaimer-sinistro:hover{
    background-color: #8ad3f1;
}
.logo-bell{
    color: lightblue;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
}

.logo-bell i{
    padding:10px;
}

.message-bell{
    padding-left: 5px;
}

.message-bell:first-child{
    color: black;
    font-weight: bold;
}

/* 3 pezzetto sinistro */

.searchbar-sinistro{
    padding: 5px;
    height: 8%;
}

.searchbar-sinistro i{
    font-size: 20px;
    color: lightgrey;
}


.searchbar-sinistro input{
    width: 90%;
    padding: 8px 14px;
    margin: 8px 0;
    outline: 0;
}

/* 4 pezzettino sinistro */

.contatti{
    width: 100%;
    height: 70%;
    background: #fff;
    overflow-y: scroll;
}

/* 1 pezzettino destro */
.header-destro{

}