<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replica whatsapp</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <!-- framework vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- libreria moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" 
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
        <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
</head>
<body>
<main>
    <div id="app" class="container">
        <!-- sezione sinistra -->
        <div class="left">
        <div class="header-sinistro">
            <div class="logo-utente">
                <img src="img/avatar_0.jpg" alt="nomeutente-avatar">
            </div>
            <span class="modificato">Gerrano &#128077;&#128526;</span>

            <div class="loghi">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>


        </div>
        <div class="disclaimer-sinistro">
            <div class="logo-bell">
                <i class="fas fa-bell-slash"></i>
            </div>
            <div class="message-bell">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <p><a href="#">Attiva notifiche desktop</a></p>
            </div>
        </div>
        <div class="searchbar-sinistro">
            <div><i class="fas fa-search"></i></div>
            <input type="text" v-model="ricercafilter" placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="contatti">
            <div class="contatto-primo" v-for="(contact,index) in contacts" :class="(index === contatore) ? 'contatore' :contact" @click="cambio(index)" v-if="contact.visible == true" >
                <ul>
                    <li>
                        <img :src="contact.avatar" alt="logo-avatar">
                        <div class="formattazione">
                            <h3>{{contact.name}}<i class="fas fa-chevron-down"></i></h3>
                            <p>{{contact.messages[contact.messages.length-1].text}}</p> 
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
        </div>
        <!-- sezione destra  -->
        <div class="right">
            <div class="header-destro">
                <div class="logo-utente">
                    <img :src="contacts[contatore].avatar" alt="logo-avatar">
                    </div>
                    <div class="info-utente">
                        <p><strong>{{contacts[contatore].name}}</strong></p>
                        <p>ultimo accesso oggi alle:{{contacts[contatore].orario}}</p>
                    </div>
                <div class="loghi">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- sezione della chat -->
            <div class="corpo-destro">
                <div class="fumetto" :class="sms.status" v-for=" (sms,index) in contacts[contatore].messages">
                    <p>{{sms.text}}</p>
                    <p><small>{{sms.date}}</small></p>
                </div>
            </div>
            <!-- sezione dell input messaggio -->
            <div class="chatbox-destro">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="scrivi un messaggio" @keyup.enter="addMessage"  v-model="messaggioVuoto">
                <i class="fas fa-microphone"></i>
            </div>
        </div>  
    </div>
</main>
<script src="js/script.js"></script>
</body>
</html>